:root {
    --background-color: #fffffe;
    --navbar-color: #16161a;
    --nav-header-color: #fffffe;
    --body-header-color: #232323;
    --paragraph-color: #222525;
    --input-button-color: #2cb67d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

nav {
    background-color: var(--navbar-color);
    margin-bottom: 1rem;

}

nav>.container-fluid {
    padding: .5rem 2.8rem !important;
}

nav h1 {
    font-family: 'Yeseva One', cursive;
    color: var(--nav-header-color);
}

h1 {
    margin: 0;
}

h5,
button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.starting-window {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.starting-window p {
    color: var(--paragraph-color);
}

.display-image {
    width: 400px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search form elements*/
.form-check {
    padding-left: 13px;
    width: 100px;
}

::placeholder {
    padding-left: 5px;
}

input[type=radio] {
    height: .7rem;
    accent-color: var(--input-button-color);
}

label {
    font-size: 14px;
    color: var(--nav-header-color);
}

#search-input {
    border-radius: 5px 0 0 5px;
    background-color: var(--background-color);
    border: 1px solid var(--nav-header-color);
    border-right: 1.5px solid var(--navbar-color);
    width: 195px;
}

#search-button {
    border-radius: 0 5px 5px 0;
    background-color: var(--nav-header-color);
    color: var(--body-header-color);
    font-weight: 400;
}

.hide {
    display: none;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--navbar-color);
}

#clear-btn,
.history-button {
    height: 36px !important;
    width: 270px;
}

.history-container {
    height: 55vh;
    overflow-y: scroll;
}

.history-container::-webkit-scrollbar {
    display: none;
}

.card-body {
    height: 130px
}

.card-title {
    height: 50px;
    overflow: hidden;
}

.note {
    color: #454545;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 0px;
}

/* Media query for phone screen size */
@media (max-width: 600px) {
    .starting-window {
        flex-direction: column;
        align-items: flex-start;
    }

    .starting-window .col-lg-4:first-of-type {
        padding-bottom: 2rem;
    }

    .display-image {
        width: 350px;
    }

    .col-lg-3.col-md-4.col-sm-12 {
        display: flex;
        justify-content: center;
    }
}